* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

#game_name {
  font-family: cursive;
  text-align: center;
  font-size: 28;
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
canvas {
  position: absolute;
  width: 100%;
  display: block;
}

.box {
  display: flex;
  padding: 5%;
}
.row {
  width: 48%;
  height: 350px;
  margin: 10px;
  border: 5px solid rgb(154, 36, 123);
  border-radius: 10px;
  position: relative;
}
