* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #5231c9;
  text-align: center;
  justify-content: center;
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  margin-top: 30px;
}

.container {
  padding-top: 30px;
}
input {
  text-align: center;
  border: 1px solid gray;
  width: 200px;
  height: 30px;
}
button {
  border: 2px solid gray;
  width: 150px;
  height: 30px;
}
